{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card">
                <h3 class="card-title text-center">
                    {% if object %}
                        Редактирование сообщения
                    {% else %}
                        Создание сообщения
                    {% endif %}
                </h3>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">
                            {% if object %}
                                Сохранить
                            {% else %}
                                Создать
                            {% endif %}
                        </button>
                        <a class="btn btn-outline-secondary" href="{% url 'mailings:message_list' %}">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
